<a href="https://colab.research.google.com/github/joacoconstenla/Repositorio1/blob/main/Python_Desde0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = "Joaquin"
print(len(nombre))
print(nombre[len(nombre) - 1])
print(nombre[1:5])
nombre.replace("Joaquin", "Pri")
print(nombre)

7
n
oaqu
Joaquin

# SecciÃ³n nueva

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
club = "Valaz"
club = club.replace("a", "e")
print(club)

Velez

In [ ]:
nota = int(input("Ingrese su nota "))
if nota > 4 and nota < 10:
  print("Ud ha aprobado")
if nota < 4:
  print("Ud ha desaprobado")
if nota > 10 or nota < 0:
  print("Inrese un numero entre el 1 y el 10")

Ingrese su nota 3
Ud ha desaprobado

In [ ]:
lista = [1, 2, 3, 4]
print(lista[0])
lista[2] = 45
lista
lista [0:3]
lista.insert(0, 100)
lista.append(12) #lo agrega ultimo
lista.extend([2, 33, 45])
lista
del lista[0]
lista
lista.remove(2) #borra solo el primer dos
lista
lista.count(45)
lista.index(12)
lista.sort()
lista.sort(reverse = True)
lista

1

[45, 45, 33, 12, 4, 2, 1]

In [ ]:
persona1 = [ "Joaquin", 22]
persona2 = ["Priscila", 21]
personas = [persona1] + [persona2]
personas
personas[0][1]

22

In [ ]:
#CONJUNTOS (no se pueden repetir valores dentro de estos)
edades = {10, 22, 32, 45, 22}
edades #aca te saca el segundo 22
edades.add(100)
edades.remove(45)
nombres = {"Joaquin", "Mateo", "Tiaga", "Depas"}
nombres2 = {"Joaquin", "Mateo"}
x = edades.union(nombres)
y = nombres.intersection(nombres2) #Es como el centro del diagrama de Ven
z = nombres.difference(nombres2) #aca a nombres le quitas los que se repiten en nombres2
nombres2.issubset(nombres) #Preguntas si nombres2 esta adentro de nombres
nombres.issuperset(nombres2)

True

In [ ]:
#Tuplas no le podes agregar ni sacar elementos
tupla = ("Joa", 22)
#tupla[0] = "Jua" #da error ya que no se puede modificar la tupla
lista = list(tupla) #convertis en lista
lista[1] = 23
tupla2 = tuple(lista) #convertis en tupla
tupla2
conjunto = set(tupla2) #convertis en conjunto
conjunto

{23, 'Joa'}